<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="rancher-suite">
    <listeners>
    <listener class-name="com.restassured.listeners.RancherTestResults"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="rancher-suite">
        <classes>
            <class name="LoginTests.LoginTests"/>
        </classes>
    </test>
</suite>